/* app css stylesheet */

.well{
    background: #d4d6d4;
}

.jumbotron{
    background: #212121;
}

.jumbotron h2 {
    color: white;
}

.navbar {
    background-color: #212121;
}

.navbar-inverse .navbar-nav > .active{
    color: #ffffff;
   background: #37722a;
 }
 .navbar-inverse .navbar-nav > .active > a, 
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus {
      color: #ffffff;
      background: #37722a;
 }
