<!DOCTYPE html>
<html>
<head>
    <title>MailthemApp</title>
</head>
<body ng-controller='AddTemplateCtrl'>

<!--navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/dashboard" class="navbar-brand">Mailthem</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/dashboard">Home</a></li>
            <li class="active"><a href="#/add_template">Add Template</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-click="logout()"><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>
    
<!--success-->
<div class="container" ng-show="success">
    <div class="row">
        <div class="alert alert-success">
            <strong>Success!</strong> The template has been added.
        </div>
    </div>
</div>
    
<!--Create Form Template-->
<div class="container">
    <form role="form" name="templateForm" ng-submit="createTemplate()" novalidate="">
        <legend>Create Template</legend>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group" ng-class="{'has-error': templateForm.title.$invalid && templateForm.title.$touched}">
                    <label for="title">Template Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Title" ng-model="template.title" required="" ng-minlength = 2>
                    <small class="help-block" ng-show="templateForm.title.$error.minlength && templateForm.title.$touched">Please enter a valid title for Template.</small>
                </div>
                <div class="form-group"  ng-class="{'has-error': templateForm.description.$invalid && templateForm.description.$touched}">
                    <label for="description">Template Description</label>
                    <textarea name="description" class="form-control" placeholder="Description" ng-model="template.description" required="" ng-minlength = 2></textarea>
                    <small class="help-block" ng-show="templateForm.description.$error.minlength && templateForm.description.$touched">Please enter a valid Template.</small>
                </div>
                <div class="form-group"  ng-class="{'has-error': templateForm.content.$invalid && templateForm.content.$touched}">
                    <label for="content">Template Content</label>
                    <textarea rows="12" name="content" class="form-control" placeholder="Content" ng-model="template.content" required="" ng-minlength = 2></textarea>
                    <small class="help-block" ng-show="templateForm.content.$error.minlength && templateForm.content.$touched">Please enter a valid Content.</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-disabled="templateForm.$invalid">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
    
</body>
</html>